body {
    background: yellow 
                url("../IMG/r32.png") no-repeat right fixed;
    background-size: cover;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 300px;

    text-align: right;
    font-family: "Helvetica";

    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

h1 {
    background-color: black;
    color: yellow;
    text-align: center;
}

img {
    width: 25px;
    height: 25px;
}

.column {
    float: right;
    padding: 5px;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr 150px;
    }
    h1 {
        text-align: right;
    }
}