body {
    background: yellow;
    font-family: "Helvetica";
    text-align: center;
}

h1 {
    background-color: black;
    color: yellow;
}

iframe {
    position: fixed;
    border: none;
    top: 121px; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    height: 100%;
}